
/*footer*/
.estiloFooter {
	background-color: #D5BDAF;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: center;
}
.footerPag {
	margin-left: 15px;
}